# Core dependencies
scipy

# Molecular docking and visualization
openbabel-wheel>=3.1.1
rdkit>=2022.09.1

# Machine learning dependencies
torch>=1.13.0
torch-geometric
networkx>=2.8.0
lime
admet-ai
